.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filters{
  display: flex;
  background-color: #695F5F;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
}

.filters li{
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters .active{
  color: #E80B18;
}