.movie{
  background-color: #464343;
  padding: 5px;
  display: flex;
  color: white;
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
}

.movie .error{
  color: red;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.movie .imageContainer{
  width: 40%;
  min-width: 40%;
  position: relative;
}
.movie img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie .info{
  padding: 10px;
}

.movie .info span{
  display: block;
}

.movie .votes{
  margin-bottom: 20px;
}

.movie button{
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}